.navbar {
  background-color: rgb(241, 225, 225);
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 150;
  box-shadow: 5px 5px 5px rgb(238, 187, 187, 0.8);
  text-transform: capitalize;
  font-size: 19px;
}

.logo {
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
}

.menubar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

a {
  padding: 0 10px;
  text-decoration: none;
  color: rgb(224, 28, 94);
}

a:hover {
  color: black;
}

.other{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5%;
}

.cart:hover {
  background-color: rgb(230, 84, 132);
  color: white;
}

.bar {
  margin: 10px;
  font-size: 30px;
  color: rgb(133, 78, 96);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  .menubar,
  .order,
  .logo {
    display: none;
  }
  .bar {
    display: inline;
  }
}

