.header {
  background-color: rgb(241, 225, 225);
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo {
  width: 60px;
  height: 50px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
}

.menubar {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0px;
  padding: 0% 12%;
  width: 60%;
}

.menubar li {
  display: inline-block;
  margin: 10px;
}

.menubar li a {
  text-decoration: none;
  color: rgb(230, 84, 132);
  /* padding: 5px 8px; */
}

.menubar a:hover {
  color: black;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.number {
  display: block;
  width: 20%;
  margin: 8px 0;
  padding: 5px;
}

.cart {
  display: block;
  border: 1px solid black;
  text-align: center;
  width: 17%;
  margin: 7px;
  padding: 5px;
}

.cart:hover {
  background-color: rgb(230, 84, 132);
  color: white;
}

.bar {
  margin: 10px;
  font-size: 30px;
  color: rgb(133, 78, 96);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .menubar,
  .number,
  .cart {
    display: none;
  }
  .bar {
    display: inline;
    float: right;
  }
  .header {
    display: block;
  }
  .logo {
    float: left;
  }
}
