.Cart{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.container{
    position: relative;
    text-transform: capitalize;
    width: 70%;
    background-color: rgb(245, 194, 202, 0.5);
    font-size: 20px;
    box-sizing: border-box;
}

.links{
    display: block;
    padding: 10px 0;
}
.links:hover{
    text-decoration: underline;
    
}

.item{
    padding: 10px;
    border-bottom: 1px solid rgb(177, 174, 174);
}

.Item {
    width: 200px;
    height: 250px;
}

.link {
    font-size: 14px;
    color: rgb(2, 37, 2);
    word-spacing: -2px;
}

.link:hover{
    text-decoration: underline;
}

.Price {
    padding: 20px;
    width: 25%;
    height: 250px;
    box-sizing: border-box;
    margin-left: 20px;
    background-color: rgb(245, 194, 202, 0.5);
    text-align: center;
    font-size: 18px;
}

.Button {
    margin-top: 30px;
    display: block;
}

.Empty{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 40vh;
}

@media (max-width: 1000px){
    .Item{
        width: 150px;
        height: 150px;

    }
}
@media (max-width: 800px){
    .Item{
        width: 120px;
        height: 120px;
    }
    .Price{
        font-size: 15px;
    }
    .container{
        font-size: 16px;
    }
}
@media (max-width: 600px){
    .Item{
        width: 100px;
        height: 100px;
    }
    .item{
        padding: 10px 0;
    }
    .Cart{
        display: block;
        margin: 10px;
    }
    .Price{
        width: 100%;
        margin: 10px 0 ;
        height: 200px
    }
    .container{
        width: 100%;
    }
}