.footer {
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
}

.head {
  font-size: 30px;
  text-transform: capitalize;
  padding: 10px;
}

.pink {
  color: rgb(230, 84, 132);
  font-size: 50px;
}
.menu button {
  display: inline-flex;
  background-color: lightgrey;
  text-transform: uppercase;
  font-size: 16px;
  font-family: cursive;
  margin: 12px 20px;
  padding: 5px 10px;
  border: 1px solid black;
}

.menu button:hover {
  background-color: black;
  color: rgb(230, 84, 132);
  cursor: pointer;
}
