* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallary {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  min-height: 70vh;
  background: rgb(241, 225, 225);
}

.item {
  display: flex;
  width: 30%;
  height: 280px;
  position: relative;
  margin: 20px;
}

.imageDiv {
  width: 100%;
  height: 250px;
  position: absolute;
  overflow: hidden;
}

.images {
  width: 100%;
  height: 250px;
  margin-bottom: 0px;
  padding: 0px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
}

.images:hover {
  animation: example1 1s linear forwards;
}

@keyframes example1 {
  from {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 250px;
  }
  to {
    left: -20px;
    top: -15px;
    width: 110%;
    height: 280px;
  }
}

.price {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
}

.pri > i {
  font-weight: 300;
}

.cart2 {
  color: rgba(10, 9, 9, 0.7);
  border: none;
  box-shadow: -1px 2px rgb(204, 171, 171);
  padding: 4px 14px;
  background-color: pink;
  width: 100%;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.cart2:hover {
  background-color: rgb(230, 84, 132);
  color: white;
}

@media screen and (max-width: 1280px) {
  .item {
    width: 29%;
  }
}

@media screen and (max-width: 980px) {
  .item {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .item {
    width: 80%;
  }
}
